/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/

/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
  box-sizing: border-box;
}
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
a:link {
  color: darkgreen;
}

a:visited {
  color: darkolivegreen;
}
a:hover {
  color: darkkhaki;
}
ul {
  list-style-type: square;
}

/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
  padding: 45px;
  background-color: palegoldenrod;
}

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
main {
  width: calc(70% - 1px)
  float: left;
  padding: 1rem;
  border-right: 1px;
}
/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
  background-color: palegoldenrod;
  text-align: center;
}
/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/
aside {
  width: 30%;
  float: right;
}
img {
	display: block;
}
/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
